body
{
	margin: 0;
	padding: 0;

	font-family: 'Lato';

	overflow-x: hidden;
}


div.cabeza
{
	width: 100%;
	height: 200px;
	padding: 20px 0;

	background-image: url(../img/baner-institucional.jpg);
	background-position: cover;
}

.cabeza-texto
{
	color: white;
	text-align: left;
}

.cabeza-texto h1
{
	font-family: 'Open Sans', sans-serif;
	font-size: 50px; 
	line-height: 55px;
}

.cabeza-texto p
{
	font-size: 12px;
}

.estrutura
{
	min-height: 400px;
	padding-bottom: 30px;
}

.estructura-info
{
	padding-top: 30px;

}

.estructura-info h1
{
	color: #50b204;
}

.caja
{
	height: 350px;
	padding: 30px;
	border: 2px solid #50b204;
	border-top: 10px solid #50b204;
	background-color: white;

	border-radius: 0px;
	margin-top: 30px;
		/*box-shadow: 0 14px 28px rgba(0,0,0,0.25);*/

	/*text-align: center;
	color: #50b204;*/
}

.info h3
{
	font-family: 'Lato';
	font-size: 36px;
	line-height: 36px;
}

.caja h3
{
	font-size: 30px;
	line-height: 50px;
}

.caja i 
{
	font-size: 40px;
	line-height: 50px;
}

.caja p 
{
	text-align: justify;
}

.datos-fonto
{
	background: #ecf0f1;
}

.oficina
{
	min-height: 500px;
	padding-top: 10px;
	padding-bottom: 50px;
}

.oficina h1
{
	color: #50b204;
}

.oficina p
{
	font-size: 18px;
	line-height: 25px;

	color: black;
}

.datos
{
	padding-top: 20px;
}

.datos h1
{
	font-size: 30px;
	line-height: 50px;
}

.datos h2
{
	font-size: 30px;
	line-height: 50px;
}

iframe{
	width: 95%;
}


@media screen and (min-width: 480px){

	
}


@media screen and (min-width: 767px){

}

@media screen and (min-width: 950px){
	div.cabeza
	{
		width: 100%;
		height: 250px;
		padding: 20px 0;

		background-image: url(../img/baner-institucional.jpg);
		background-size: 100% 70%;
		background-attachment: fixed;
	}

	.cabeza-texto
	{
		color: white;
		text-align: left;
	}

	.cabeza-texto h1
	{
		font-family: 'Open Sans', sans-serif;
		font-size: 80px; 
		line-height: 100px;
	}

	.cabeza-texto p
	{
		font-size: 20px;
	}

	.estrutura
	{
		min-height: 400px;
		padding-bottom: 30px;
	}

	.estructura-info
	{
		padding-top: 30px;

	}

	.estructura-info h1
	{
		color: #50b204;
	}

	.caja
	{
		height: 350px;
		padding: 30px;
		border: 2px solid #50b204;
		border-top: 10px solid #50b204;
		background-color: white;

		border-radius: 0px;
		margin-top: 30px;
			/*box-shadow: 0 14px 28px rgba(0,0,0,0.25);*/

		/*text-align: center;
		color: #50b204;*/
	}

	.info h3
	{
		font-family: 'Lato';
		font-size: 36px;
		line-height: 36px;
	}

	.caja h3
	{
		font-size: 30px;
		line-height: 50px;
	}

	.caja i 
	{
		font-size: 40px;
		line-height: 50px;
	}

	.caja p 
	{
		text-align: justify;
	}

	.datos-fonto
	{
		background: #ecf0f1;
	}

	.oficina
	{
		min-height: 500px;
		padding-top: 10px;
		padding-bottom: 50px;
	}

	.oficina h1
	{
		color: #50b204;
	}

	.oficina p
	{
		font-size: 18px;
		line-height: 25px;

		color: black;
	}

	.datos
	{
		padding-top: 20px;
	}

	.datos h1
	{
		font-size: 30px;
		line-height: 50px;
	}

	.datos h2
	{
		font-size: 30px;
		line-height: 50px;
	}


	iframe{
		width: 100%;
	}
}
