nav a 
{
    font-size: 18px;

    color: white;
}

nav a:hover{
    color: chartreuse;
}

#nav-bot{
    background: #ffffff86 !important;

    z-index: 400000;

    border: 1px dotted chartreuse;
}

#nav-bot span{
    
}
