@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400i');

body
{
	font-family: 'Lato';
	overflow-x: hidden;
}

.hidden
{
	display: none;
}

.header
{
	height: 500px;

	background-image: url(../img/d.jpg);
	background-size: 100% 100%;
	background-attachment: fixed;

	color: white;
	padding-top: 50px;
}

.header .izquierda
{
	padding-left: 6%;
}

.header .derecha 
{
	padding-top: 20%;
	padding-left: 20px;
}

.primero
{
	font-family: 'Playfair Display', serif;
	font-size: 25px;
}

.header img
{
	width: 240px;
	position: absolute;
	left: 18px;
}


/* frase  ---------------------------------------*/

.frase1
{
	min-height: 200px;
	background-color: #50b204;
	text-align: center;
	padding-top: 8%;  
	padding-bottom: 8%; 
	color: white;
	font-family: 'Lato';
	
}

.frase1 h1
{
	font-size: 20px;
	font-weight: 300;
}

/*  Listado servicios   --------------------------*/

div.servicios
{
	min-height: 500px;
	text-align: center;
	padding-bottom: 8%;
}

.servicios h2, .servicios h4
{
	color: #76b71f; 
	margin: 20px 0 20px;
}

.servicios p
{
	font-size: 14px;
	padding-bottom: 30px;
	font-style: italic;
	padding-left: 1%;
	padding-right: 1%;
}

.servicios i 
{
	height: 60px;
	width: 60px;
	font-size: 30px;
	padding: 15px 15px;
	border-radius: 50px;
	background-color: #76b71f;
	color: white;
}


/*    Clientes asociados   -------------------------------------*/

.clientes
{
	height: 300px;

	background: url("../img/baner2.jpg");
	background-size: 100% 100%;
	background-attachment: fixed;
	
}

.e1
{
	padding-top: 6%;
}

.e1 img
{
	width: 220px;
	margin-bottom: 5%;
}

.clientes h3
{
	color: white;
	font-family: 'Lato Hairline';
	font-size: 1.2em;
}

.e2
{
	padding-top: 6%;
}

.e2 img 
{
	width: 220px;
	
}


/* Acerca del parque   ----------------------------------------*/


div.parque
{
	min-height: 500px;
	background: #50b204;
	padding-top: 2%;
	padding-bottom: 5%;
}

.parque h3
{
	font-size: 20px;
	color: white;
}

.back-text
{
	display: inline-block;
	font-size: 50px;
	font-weight: 900px;
	left: -50px;
	bottom: -30px;
	opacity: 0.1;
	color: white;
}

.contador
{
	display: none;
}

.derecha
{
	text-align: right;
}

.detalle
{
	padding-top: 5%;
}

/* ///////////////////////////////////// smart grande ////////////////////////////////////////// */
@media screen and (min-width: 480px){

	.header
	{
		height: 400px;
	
		background-image: url(../img/d.jpg);
		background-size: 100% 100%;
		background-attachment: fixed;
	
		color: white;
		padding-top: 50px;
	}
	
	.header .izquierda
	{
		padding-left: 6%;
	}
	
	.header .derecha 
	{
		padding-top: 20%;
		padding-left: 20px;
	}
	
	.primero
	{
		font-family: 'Playfair Display', serif;
		font-size: 25px;
	}
	
	.header img
	{
		width: 300px;
		position: absolute;
		left: 18px;
	}
	
	
	/* frase  ---------------------------------------*/
	
	.frase1
	{
		min-height: 200px;
		background-color: #50b204;
		text-align: center;
		padding-top: 8%;  
		padding-bottom: 8%; 
		color: white;
		font-family: 'Lato';
		
		
	}
	
	.frase1 h1
	{
		font-size: 30px;
		font-weight: 300;
	}
	
	/*  Listado servicios   --------------------------*/
	
	div.servicios
	{
		min-height: 500px;
		text-align: center;
		padding-bottom: 8%;
	}
	
	.servicios h2, .servicios h4
	{
		color: #76b71f; 
		margin: 20px 0 20px;
	}
	
	.servicios p
	{
		font-size: 14px;
		padding-bottom: 30px;
		font-style: italic;
		padding-left: 1%;
		padding-right: 1%;
	}
	
	.servicios i 
	{
		height: 60px;
		width: 60px;
		font-size: 30px;
		padding: 15px 15px;
		border-radius: 50px;
		background-color: #76b71f;
		color: white;
	}

	
	/*    Clientes asociados   -------------------------------------*/
	
	.clientes
	{
		height: 400px;

		background: url("../img/baner2.jpg");
		background-size: 100% 100%;
		background-attachment: fixed;
		
	}
	
	.e1
	{
		padding-top: 6%;
	}

	.e1 img
	{
		width: 220px;
		margin-bottom: 5%;
	}

	.clientes h3
	{
		color: white;
		font-family: 'Lato Hairline';
		font-size: 20px;
	}

	.e2
	{
		padding-top: 6%;
	}

	.e2 img 
	{
		width: 220px;
		
	}
	
	
	/* Acerca del parque   ----------------------------------------*/
	
	
	div.parque
	{
		min-height: 500px;
		background: #50b204;
		padding-top: 2%;
		padding-bottom: 5%;
	}
	
	.parque h3
	{
		font-size: 20px;
		color: white;
	}
	
	.back-text
	{
		display: inline-block;
		font-size: 50px;
		font-weight: 900px;
		left: -50px;
		bottom: -30px;
		opacity: 0.1;
		color: white;
	}
	
	.contador
	{
		display: none;
	}
	
	.derecha
	{
		text-align: right;
	}
	
	.detalle
	{
		padding-top: 5%;
	}
}

/* tablet */
@media screen and (min-width: 767px){
	.header
	{
		height: 400px;
	
		background-image: url(../img/c.jpg);
		background-size: 100% 100%;
		background-attachment: fixed;
	
		color: white;
		padding-top: 50px;
	}
	
	.header .izquierda
	{
		padding-left: 6%;
	}
	
	.header .derecha 
	{
		padding-top: 15%;
	}
	
	.primero
	{
		font-family: 'Playfair Display', serif;
		font-size: 25px;
	}
	
	.header img
	{
		width: 300px;
		position: absolute;
		left: 130px;
	}
	
	
	/* frase  ---------------------------------------*/
	
	.frase1
	{
		min-height: 200px;
		background-color: #50b204;
		text-align: center;
		padding-top: 8%;  
		padding-bottom: 8%; 
		color: white;
		font-family: 'Lato Hairline';
		
	}
	
	.frase1 h1
	{
		font-size: 30px;
		font-weight: 300;
	}
	
	/*  Listado servicios   --------------------------*/
	
	div.servicios
	{
		min-height: 500px;
		text-align: center;
		padding-bottom: 8%;
	}
	
	.servicios h2, .servicios h4
	{
		color: #76b71f; 
		margin: 20px 0 20px;
	}
	
	.servicios p
	{
		font-size: 14px;
		padding-bottom: 30px;
		font-style: italic;
		padding-left: 1%;
		padding-right: 1%;
	}
	
	.servicios i 
	{
		height: 60px;
		width: 60px;
		font-size: 30px;
		padding: 15px 15px;
		border-radius: 50px;
		background-color: #76b71f;
		color: white;
	}

	
	/*    Clientes asociados   -------------------------------------*/
	
	.clientes
	{
		height: 350px;

		background: url("../img/baner2.jpg");
		background-size: 100% 100%;
		background-attachment: fixed;
		
	}
	
	.e1
	{
		padding-top: 5%;
	}
	
	.e1 img
	{
		width: 280px;
		margin-bottom: 5%;
		margin-left: 11%;
	}
	
	.clientes h3
	{
		color: white;
		font-family: 'Lato';
		font-size: 35px;
		font-weight: 300;
	}
	
	.e2
	{
		padding-top: 30px;
	}
	
	.e2 img 
	{
		width: 280px;	
	}
	
	
	/* Acerca del parque   ----------------------------------------*/
	
	
	div.parque
	{
		min-height: 500px;
		background: #50b204;
		padding-top: 2%;
		padding-bottom: 5%;
	}
	
	.parque h3
	{
		font-size: 20px;
		color: white;
	}
	
	.back-text
	{
		display: inline-block;
		font-size: 50px;
		font-weight: 900px;
		left: -50px;
		bottom: -30px;
		opacity: 0.1;
		color: white;
	}
	
	.contador
	{
		display: none;
	}
	
	.derecha
	{
		text-align: right;
	}
	
	.detalle
	{
		padding-top: 5%;
	}
}

@media screen and (min-width: 950px){
	
	.header
	{
		height: 600px;
	
		background-image: url(../img/c.jpg);
		background-size: 100% 100%;
		background-attachment: fixed;
	
		color: white;
		padding-top: 50px;
	}
	
	.header .izquierda
	{
		padding-left: 100px;
	}
	
	.header .derecha 
	{
		padding-top: 150px;
		padding-left: 300px;
	}
	
	.header h1 
	{
		margin-top: 50px;
	}

	.header p 
	{
		font-family: 'Lato';
		font-size: 20px;
		font-weight: 300;
	}

	.header hr
	{
		background: rgba(255, 255, 255, 0.60);
	}
	
	.primero
	{
		font-family: 'Playfair Display', serif;
		font-size: 40px;
	}
	
	.header img
	{
		width: 450px;
		position: absolute;
		left: 300px;
	}

	.vermas
	{
		padding-top: 40px;
		padding-bottom: 10px;
	}
	
	
	/*   frase grande    ---------------------------------  */
	.frase1
	{
		min-height: 200px;
		background-color: #50b204;
		text-align: center;
		padding-top: 30px;  
		padding-bottom: 30px; 
		color: white;
		font-family: 'Lato Hairline';
	}

	.frase1 h1
	{
		font-size: 40px;
	}

	/*   seccion servicios del parque    ---------------------------------  */
	div.servicios
	{
		min-height: 500px;
		padding: 50px 0 50px;
		text-align: center;
	}
	
	.servicios h2, .servicios h4
	{
		color: #76b71f; 
		margin: 20px 0 20px;
	}
	
	.servicios p
	{
		font-size: 14px;
		padding-bottom: 40px;
	}
	
	.servicios i 
	{
		height: 100px;
		width: 100px;
		font-size: 50px;
		padding: 25px 20px;
		border-radius: 50px;
		background-color: #76b71f;
		color: white;
	}
	
	/*   seccion clientes    ---------------------------------  */
	.clientes
	{
		height: 400px;
		/*width: 100%;*/
		background: url("../img/baner2.jpg");
		background-size: 100% 100%;
		background-attachment: fixed;
		
	}
	
	.e1
	{
		padding-top: 35px;
	}

	.h-blanco
	{
		border-bottom: 1px solid rgba(255, 255, 255, 0.397);
	}
	
	.clientes h3
	{
		color: white;
		font-family: 'Lato Hairline';
		font-size: 50px;
	}
	
	.e2
	{
		padding-top: 60px;
	}


	.e1 img
	{
		width: 350px;
		margin-bottom: 5%;
	}

	.e2 img 
	{
		width: 350px;
		margin-left: 70px;
	}
	
	.clientes h3
	{
		color: white;
		font-family: 'Lato';
		font-size: 40px;
		font-weight: 100;
	}

	
	/*   El parque    ---------------------------------  */
	div.parque
	{
		min-height: 500px;
		background: #50b204;
		padding-top: 0px;
		padding-bottom: 30px;
	}
	
	.back-text
	{
		display: inline-block;
		font-size: 125px;
		font-weight: 900px;
		left: -50px;
		bottom: -30px;
		opacity: 0.1;
		color: white;
	}

	.parque h1
	{
		font-family: 'Lato Hairline';
		font-size: 60px;
		color: white;
	}
	
	.contador
	{
		font-family: 'Lato Hairline';
		font-size: 160px;
		color: white;

		display: inline;
	}
	
	.derecha
	{
		text-align: right;
	}
	
	.detalle
	{
		padding-top: 60px;
	}


    
}
