body
{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}


div.cabeza
{
	width: 100%;
	height: 200px;
	padding: 20px 0;

	background-image: url(../img/baner-precios2.jpg);
	background-position: cover;
}

.cabeza-texto
{
	color: white;
	text-align: left;
}

.cabeza-texto h1
{
	font-family: 'Open Sans', sans-serif;
	font-size: 50px; 
	line-height: 55px;
}

.cabeza-texto p
{
	font-size: 12px;
}

.gris
{
	background: #ecf0f1;
}

.info-logo
{
	padding-top: 5%;
	padding-bottom: 5%;
}

.info-logo img
{
	width: 50%;
	height: 50%;
}

.estructura-info h1
{
	color: #50b204; /*50b204*/
	font-family: 'Open Sans', sans-serif;
}

.blanco h1
{
	color: white; /*50b204*/
}

.estructura-info
{
	padding-top: 30px;
	text-align: center;
}

.estructura-info h1
{
	font-size: 20px;
	
}


.servicios
{
	padding: 10px 0 80px;
	text-align: center;
}


.gradiente-4
{
	background: rgba(161,203,63,1);
background: -moz-linear-gradient(-45deg, rgba(161,203,63,1) 0%, rgba(50,172,99,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(161,203,63,1)), color-stop(100%, rgba(50,172,99,1)));
background: -webkit-linear-gradient(-45deg, rgba(161,203,63,1) 0%, rgba(50,172,99,1) 100%);
background: -o-linear-gradient(-45deg, rgba(161,203,63,1) 0%, rgba(50,172,99,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(161,203,63,1) 0%, rgba(50,172,99,1) 100%);
background: linear-gradient(135deg, rgba(161,203,63,1) 0%, rgba(50,172,99,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1cb3f', endColorstr='#32ac63', GradientType=1 );
}

a 
{
	text-decoration: none;
	color: white;
}

a:hover 
{
	text-decoration: none;
	color: white;
}

.frase
{
	color: #50b204;
}

.servicios h2,
.servicios p 
{
	color: white;
}

.servicios p
{
	padding-bottom: 10px;
}

.servicios .package
{
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	border: 1px solid #00CC33;
	border-top: 35px solid #50b204;
	background-color: white;
	border-radius: 5px;
	margin-top: 30px;
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.promo_familiar
{
	padding-bottom: 30px;
}

.package li 
{
	display: block;
	padding: 2px;
}

.fa-check 
{
	color: #50b204;
}
.package-normal
{
	min-height: 550px;
}

.package-g
{
	max-width: 400px;
}

.package h4,
.package h1,
.package b 
{
	color: #4c4c4c;
}

.package p,
.package li 
{
	color: #737373;
}

.aviso p
{
	font-family: 'Lato';
	font-size: 18px;
	color:  #50b204;
	text-align: center;

	padding-top: 30px;
	padding-bottom: 20px;
}

.fotos
{
	padding-top: 20px;
}

.fotos img 
{
	margin-top: 40px;
}

.back-text
{
	display: inline-block;
	font-size: 125px;
	line-height: 125px;
	font-weight: 900px;

	opacity: 0.1;
	color: white;
}

.imagen
{
	margin: auto;
}

.imagen img
{
	max-width: 150%;
	height: 150%;
}

.package button
{
	margin-top: 10px;
}






/* smart phone*/
@media screen and (min-width: 480px){
	
	div.cabeza
	{
		width: 100%;
		height: 200px;
		padding: 20px 0;
	
		background-image: url(../img/baner-precios2.jpg);
		background-size: 100% 60%;
		background-attachment: fixed;
	}
	
	.cabeza-texto p
	{
		font-size: 16px;
	}
	
	.info-logo img
	{
		width: 50%;
		height: 50%;
	}
	
	.estructura-info h1
	{
		color: #50b204; /*50b204*/
		font-family: 'Open Sans', sans-serif;
	}
	
	.blanco h1
	{
		color: white; /*50b204*/
	}
	
	.estructura-info
	{
		padding-top: 30px;
		text-align: center;
	}
	
	.estructura-info h1
	{
		font-size: 24px;
		
	}
	
	
	.servicios
	{
		padding: 10px 0 80px;
		text-align: center;
	}
	
	
	.gradiente-4
	{
		background: rgba(161,203,63,1);
	background: -moz-linear-gradient(-45deg, rgba(161,203,63,1) 0%, rgba(50,172,99,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(161,203,63,1)), color-stop(100%, rgba(50,172,99,1)));
	background: -webkit-linear-gradient(-45deg, rgba(161,203,63,1) 0%, rgba(50,172,99,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(161,203,63,1) 0%, rgba(50,172,99,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(161,203,63,1) 0%, rgba(50,172,99,1) 100%);
	background: linear-gradient(135deg, rgba(161,203,63,1) 0%, rgba(50,172,99,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1cb3f', endColorstr='#32ac63', GradientType=1 );
	}
	
	a 
	{
		text-decoration: none;
		color: white;
	}
	
	a:hover 
	{
		text-decoration: none;
		color: white;
	}
	
	.frase
	{
		color: #50b204;
	}
	
	.servicios h2,
	.servicios p 
	{
		color: white;
	}
	
	.servicios p
	{
		padding-bottom: 10px;
	}
	
	.servicios .package
	{
		padding-top: 20px;
		padding-left: 30px;
		padding-right: 30px;
		padding-bottom: 30px;
		border: 1px solid #00CC33;
		border-top: 35px solid #50b204;
		background-color: white;
		border-radius: 5px;
		margin-top: 30px;
			box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}
	
	.promo_familiar
	{
		padding-bottom: 30px;
	}
	
	.package li 
	{
		display: block;
		padding: 2px;
	}
	
	.fa-check 
	{
		color: #50b204;
	}
	.package-normal
	{
		min-height: 550px;
	}
	
	.package-g
	{
		max-width: 400px;
	}
	
	.package h4,
	.package h1,
	.package b 
	{
		color: #4c4c4c;
	}
	
	.package p,
	.package li 
	{
		color: #737373;
	}
	
	.aviso p
	{
		font-family: 'Lato';
		font-size: 18px;
		color:  #50b204;
		text-align: center;
	
		padding-top: 30px;
		padding-bottom: 20px;
	}
	
	.fotos
	{
		padding-top: 20px;
	}
	
	.fotos img 
	{
		margin-top: 40px;
	}
	
	.imagen
	{
		margin: auto;
	}
	
	.imagen img
	{
		max-width: 150%;
		height: 150%;
	}
	
	.package button
	{
		margin-top: 10px;
	}

}

/* tablet  */
@media screen and (min-width: 767px){
	div.cabeza
	{
		width: 100%;
		height: 200px;
		padding: 20px 0;
	
		background-image: url(../img/baner-precios2.jpg);
		background-size: 100% 60%;
		background-attachment: fixed;
	}
	
	.cabeza-texto p
	{
		font-size: 16px;
	}
	
	.info-logo img
	{
		width: 50%;
		height: 50%;
	}
	
	.estructura-info h1
	{
		color: #50b204; /*50b204*/
		font-family: 'Open Sans', sans-serif;
	}
	
	.blanco h1
	{
		color: white; /*50b204*/
	}
	
	.estructura-info
	{
		padding-top: 30px;
		text-align: center;
	}
	
	.estructura-info h1
	{
		font-size: 24px;
		
	}
	
	
	.servicios
	{
		padding: 10px 0 80px;
		text-align: center;
	}
	
	
	.gradiente-4
	{
		background: rgba(161,203,63,1);
	background: -moz-linear-gradient(-45deg, rgba(161,203,63,1) 0%, rgba(50,172,99,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(161,203,63,1)), color-stop(100%, rgba(50,172,99,1)));
	background: -webkit-linear-gradient(-45deg, rgba(161,203,63,1) 0%, rgba(50,172,99,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(161,203,63,1) 0%, rgba(50,172,99,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(161,203,63,1) 0%, rgba(50,172,99,1) 100%);
	background: linear-gradient(135deg, rgba(161,203,63,1) 0%, rgba(50,172,99,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1cb3f', endColorstr='#32ac63', GradientType=1 );
	}
	
	a 
	{
		text-decoration: none;
		color: white;
	}
	
	a:hover 
	{
		text-decoration: none;
		color: white;
	}
	
	.frase
	{
		color: #50b204;
	}
	
	.servicios h2,
	.servicios p 
	{
		color: white;
	}
	
	.servicios p
	{
		padding-bottom: 10px;
	}
	
	.servicios .package
	{
		padding-top: 20px;
		padding-left: 30px;
		padding-right: 30px;
		padding-bottom: 30px;
		border: 1px solid #00CC33;
		border-top: 35px solid #50b204;
		background-color: white;
		border-radius: 5px;
		margin-top: 30px;
			box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}
	
	.promo_familiar
	{
		padding-bottom: 30px;
	}
	
	.package li 
	{
		display: block;
		padding: 2px;
	}
	
	.fa-check 
	{
		color: #50b204;
	}
	.package-normal
	{
		min-height: 550px;
	}
	
	.package-g
	{
		max-width: 400px;
	}
	
	.package h4,
	.package h1,
	.package b 
	{
		color: #4c4c4c;
	}
	
	.package p,
	.package li 
	{
		color: #737373;
	}
	
	.aviso p
	{
		font-family: 'Lato';
		font-size: 18px;
		color:  #50b204;
		text-align: center;
	
		padding-top: 30px;
		padding-bottom: 20px;
	}
	
	.fotos
	{
		padding-top: 20px;
	}
	
	.fotos img 
	{
		margin-top: 40px;
	}
	
	.imagen
	{
		margin: auto;
	}
	
	.imagen img
	{
		max-width: 150%;
		height: 150%;
	}
	
	.package button
	{
		margin-top: 10px;
	}
}

@media screen and (min-width: 950px){

    div.emergencia
	{
		height: 50px;
		background: white;
		padding-top: 15px;
	}
	
	div.cabeza
	{
		width: 100%;
		height: 250px;
		padding: 20px 0;
	
		background-image: url(../img/baner-precios2.jpg);
		background-size: 100% 60%;
		background-attachment: fixed;;
	}
	
	.cabeza-texto
	{
		color: white;
		text-align: left;
	}
	
	.cabeza-texto h1
	{
		font-family: 'Open Sans', sans-serif;
		font-size: 80px; 
		line-height: 100px;
	}
	
	.cabeza-texto p
	{
		font-size: 20px;
	}
	
	.gris
	{
		background: #ecf0f1;
	}
	
	.info-logo
	{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	
	.sombra
	{
	}
	
	.info-logo img
	{
		width: 40%;
		height: 40%;
	}
	
	.estructura-info h1
	{
		color: #50b204; /*50b204*/
		font-family: 'Open Sans', sans-serif;
	}
	
	.blanco h1
	{
		color: white; /*50b204*/
	}
	
	.estructura-info
	{
		padding-top: 30px;
	}

	.estructura-info h1
	{
		font-size: 40px;
		
	}
	
	
	.servicios
	{
		padding: 10px 0 80px;
		text-align: center;
		/*background-color: white;*/
	}
	
	
	.gradiente-4
	{
		background: rgba(161,203,63,1);
	background: -moz-linear-gradient(-45deg, rgba(161,203,63,1) 0%, rgba(50,172,99,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(161,203,63,1)), color-stop(100%, rgba(50,172,99,1)));
	background: -webkit-linear-gradient(-45deg, rgba(161,203,63,1) 0%, rgba(50,172,99,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(161,203,63,1) 0%, rgba(50,172,99,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(161,203,63,1) 0%, rgba(50,172,99,1) 100%);
	background: linear-gradient(135deg, rgba(161,203,63,1) 0%, rgba(50,172,99,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1cb3f', endColorstr='#32ac63', GradientType=1 );
	}
	
	
	a 
	{
		text-decoration: none;
		color: white;
	}
	
	a:hover 
	{
		text-decoration: none;
		color: white;
	}
	
	.frase
	{
		color: #50b204;
	}
	
	.servicios h2,
	.servicios p 
	{
		color: white;
	}
	
	.servicios p
	{
		padding-bottom: 10px;
	}
	
	.servicios .package
	{
		padding-top: 20px;
		padding-left: 30px;
		padding-right: 30px;
		padding-bottom: 30px;
		border: 1px solid #00CC33;
		border-top: 35px solid #50b204;
		background-color: white;
		border-radius: 5px;
		margin-top: 30px;
			box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}
	
	.promo_familiar
	{
		padding-bottom: 30px;
	}
	
	.package li 
	{
		display: block;
		padding: 2px;
	}
	
	.fa-check 
	{
		color: #50b204;
	}
	.package-normal
	{
		min-height: 550px;
	}
	
	.package-g
	{
		max-width: 400px;
	}
	
	.package h4,
	.package h1,
	.package b 
	{
		color: #4c4c4c;
	}
	
	.package p,
	.package li 
	{
		color: #737373;
	}
	
	.aviso p
	{
		font-family: 'Lato';
		font-size: 20px;
		color:  #50b204;
		text-align: center;
	
		padding-top: 30px;
		padding-bottom: 20px;
	}
	
	.fotos
	{
		padding-top: 20px;
	}
	
	.fotos img 
	{
		margin-top: 40px;
	}
	
	.back-text
	{
		display: inline-block;
		font-size: 125px;
		line-height: 125px;
		font-weight: 900px;
	
		opacity: 0.1;
		color: white;
	}
	
	.imagen
	{
		margin: auto;
	}
	
	.imagen img
	{
		max-width: 150%;
		height: 150%;
	}
	
	.package button
	{
		margin-top: 10px;
	}
}

